pregunta 1/java/javaFX/xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/SWPersonaCBD/NewWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://swpersonacbd.umsa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://swpersonacbd.umsa.com/">

<xs:element name="PersonaList" type="tns:PersonaList"/>

<xs:element name="PersonaListResponse" type="tns:PersonaListResponse"/>

<xs:element name="PostgreSQL" type="tns:PostgreSQL"/>

<xs:element name="PostgreSQLOK" type="tns:PostgreSQLOK"/>

<xs:element name="PostgreSQLOKResponse" type="tns:PostgreSQLOKResponse"/>

<xs:element name="PostgreSQLResponse" type="tns:PostgreSQLResponse"/>

<xs:element name="conexionPostgreSQL" type="tns:conexionPostgreSQL"/>

<xs:element name="conexionPostgreSQLResponse" type="tns:conexionPostgreSQLResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="PostgreSQL">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="PostgreSQLResponse">
<xs:sequence>
<xs:element name="return" type="tns:persona" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persona">
<xs:sequence>
<xs:element name="idPersona" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="conexionPostgreSQL">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="conexionPostgreSQLResponse">
<xs:sequence>
<xs:element name="return" type="tns:persona" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PostgreSQLOK">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="PostgreSQLOKResponse">
<xs:sequence>
<xs:element name="return" type="tns:persona" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PersonaList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="PersonaListResponse">
<xs:sequence>
<xs:element name="return" type="tns:persona" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>