pregunta 1/java/javaFX/xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/SWPersonaCBD/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://swpersonacbd.umsa.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://swpersonacbd.umsa.com/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://swpersonacbd.umsa.com/" schemaLocation="http://localhost:8080/SWPersonaCBD/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="PostgreSQLOK">
<part name="parameters" element="tns:PostgreSQLOK"/>
</message>
<message name="PostgreSQLOKResponse">
<part name="parameters" element="tns:PostgreSQLOKResponse"/>
</message>
<message name="PostgreSQL">
<part name="parameters" element="tns:PostgreSQL"/>
</message>
<message name="PostgreSQLResponse">
<part name="parameters" element="tns:PostgreSQLResponse"/>
</message>
<message name="PersonaList">
<part name="parameters" element="tns:PersonaList"/>
</message>
<message name="PersonaListResponse">
<part name="parameters" element="tns:PersonaListResponse"/>
</message>
<message name="conexionPostgreSQL">
<part name="parameters" element="tns:conexionPostgreSQL"/>
</message>
<message name="conexionPostgreSQLResponse">
<part name="parameters" element="tns:conexionPostgreSQLResponse"/>
</message>
<portType name="NewWebService">
<operation name="hello">
<input wsam:Action="http://swpersonacbd.umsa.com/NewWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://swpersonacbd.umsa.com/NewWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="PostgreSQLOK">
<input wsam:Action="http://swpersonacbd.umsa.com/NewWebService/PostgreSQLOKRequest" message="tns:PostgreSQLOK"/>
<output wsam:Action="http://swpersonacbd.umsa.com/NewWebService/PostgreSQLOKResponse" message="tns:PostgreSQLOKResponse"/>
</operation>
<operation name="PostgreSQL">
<input wsam:Action="http://swpersonacbd.umsa.com/NewWebService/PostgreSQLRequest" message="tns:PostgreSQL"/>
<output wsam:Action="http://swpersonacbd.umsa.com/NewWebService/PostgreSQLResponse" message="tns:PostgreSQLResponse"/>
</operation>
<operation name="PersonaList">
<input wsam:Action="http://swpersonacbd.umsa.com/NewWebService/PersonaListRequest" message="tns:PersonaList"/>
<output wsam:Action="http://swpersonacbd.umsa.com/NewWebService/PersonaListResponse" message="tns:PersonaListResponse"/>
</operation>
<operation name="conexionPostgreSQL">
<input wsam:Action="http://swpersonacbd.umsa.com/NewWebService/conexionPostgreSQLRequest" message="tns:conexionPostgreSQL"/>
<output wsam:Action="http://swpersonacbd.umsa.com/NewWebService/conexionPostgreSQLResponse" message="tns:conexionPostgreSQLResponse"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PostgreSQLOK">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PostgreSQL">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PersonaList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conexionPostgreSQL">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/SWPersonaCBD/NewWebService"/>
</port>
</service>
</definitions>